.button {
  --text-font-size: var(--large-font-size, 4vw);

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  min-width: 48px;
  border-radius: 10px;
  box-shadow: 0 2px 3px var(--gray-dark);
  border: 1px solid var(--primary);
  color: var(--gray-light);
  background-color: var(--primary);
  transition: all linear 10ms;
  font-size: var(--text-font-size);
}

.button:disabled,
.button:disabled:hover {
  color: var(--gray);
  background-color: var(--primary-light);
  border-color: var(--primary-light);
  box-shadow: 0 2px 3px var(--primary-light);
}

.button:hover {
  color: var(--primary-dark);
  background-color: var(--background);
}

.button:enabled:active {
  color: var(--primary-dark);
  background-color: var(--background);
  box-shadow: 0 -2px 3px var(--primary), inset 0 -7px 9px -7px var(--accent);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}

.flat-button {
  box-shadow: none !important;
}

.flat-button:disabled,
.flat-button:disabled:hover {
  box-shadow: none !important;
}

.flat-button:enabled:active {
  transform: none !important;
  box-shadow: none !important;
}


@media screen and (min-width: 600px) and (max-width: 899px) {
  .button {
    --text-font-size: var(--medium-font-size, 3vw);
  }
}

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .button {
    --text-font-size: var(--small-font-size, 2vw);
  }
}

@media screen and (min-width: 1200px) {
  .button {
    --text-font-size: var(--extra-small-font-size, 1.5vw);
  }
}
