.drop-down-container {
  display: flex;
  position: relative;
}

.drop-down-container > h3 {
  font-size: 1rem;
}

.drop-down-container > ul {
  width: 100%;
  padding: 0;
  margin: -2px 0 0 -2px;
  border: 2px solid var(--gray);
  border-radius: 5px;
  background-color: var(--background);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.drop-down-container > ul > li {
  list-style: none;
}

.drop-down-container > ul > li:hover .drop-down {
  background-color: var(--primary-light);
  color: var(--background);
}

.drop-down-container > ul > li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.drop-down-container
.drop-down {
  width: 100%;
  color: var(--text-dark);
  background-color: var(--background);
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-size: 1rem;
}
