.simple-view-container {
  --small-font-size-internal: var(--small-font-size, 1rem);

  display: flex;
  justify-content: space-between;
  font-size: var(--small-font-size-internal);
  font-weight: bold;
  color: var(--secondary-dark);
  border-bottom: 2px solid var(--secondary-dark);
}
