.beverage-category {
  display: flex;
}

.beverage-category
.category-button {
  flex-grow: 1;
  color: var(--primary-dark);
  background-color: var(--background);
  box-shadow: none;
  border: none;
  border-top: 3px solid var(--background);
  border-bottom: 3px solid var(--background);
  border-radius: 0;
  font-size: 1rem;
}

.beverage-category
.category-button:active {
  box-shadow: none;
  transform: none;
}

.beverage-category
.category-button:not(.selected):hover {
  background-color: var(--primary-light);
  border-color: var(--primary-light);
}

.beverage-category
.selected {
  color: var(--text-light);
  background-color: var(--primary);
  border-top: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary-dark);
}
