.beverage-selection {
  padding: 2%;
  border: 2px solid var(--gray-medium);
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}

.beverage-selection > h2 {
  text-align: center;
  margin: 0;
  color: var(--gray-dark);
  font-size: 1.75rem;
}

.most-recent-list > h3 {
  font-weight: normal;
  text-align: center;
  color: var(--gray-dark);
  font-size: 1.5rem;
}

.previous-beverage-list {
  list-style: none;
  padding: 0;
  border: 2px solid var(--gray-light);
  border-radius: 5px;
  overflow: hidden;
}

.beverage-list-item:not(:last-child) {
  border-bottom: 1px solid var(--primary);
}

.list-button {
  width: 100%;
  font-size: 1.1rem;
  border: 0;
  color: var(--primary-dark);
  margin: 0;
  padding: 5px 0;
  background-color: var(--light);
}

.list-button:hover {
  color: var(--light);
  background-color: var(--primary);
}

.list-button > span:not(:last-child)::after {
  content: ' • ';
}

.beverage-view {
  text-align: center;
}

.beverage-view > span:not(:last-child)::after {
  content: ' • ';
}
