.app-router-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  --transition-animation-speed: 200ms;
}

.router {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--header-height-small) - var(--footer-height));
}

.route {
  width: 100%;
  min-height: calc(100vh - var(--header-height-small) - var(--footer-height));
  max-width: calc(100% - var(--small-screen-margin));
}

/* CSSTransition component classes */

.left-enter,
.right-enter {
  height: 100%;
  opacity: 0;
}

.left-enter-active,
.right-enter-active {
  width: 100%;
  position: absolute;
  top: 10vh;
  left: 0;
  opacity: 1;
}

.left-enter-active {
  animation:
    fadeIn      var(--transition-animation-speed) linear,
    slideInLeft var(--transition-animation-speed) linear;
}

.right-enter-active {
  animation:
    fadeIn       var(--transition-animation-speed) linear,
    slideInRight var(--transition-animation-speed) linear;
}

.left-exit,
.right-exit {
  opacity: 1;
}

.left-exit-active,
.right-exit-active {
  width: 100%;
  position: absolute;
  top: 8vh;
  left: 0;
}

.left-exit-active {
  animation:
    fadeOut      var(--transition-animation-speed) linear,
    slideOutLeft var(--transition-animation-speed) linear;
}

.right-exit-active {
  animation:
    fadeOut       var(--transition-animation-speed) linear,
    slideOutRight var(--transition-animation-speed) linear;
}

.expansion-enter {
  opacity: 0;
}

.expansion-exit {
  opacity: 1;
}

.expansion-enter-active,
.expansion-exit-active {
  width: 100%;
  position: absolute;
  top: var(--header-height-small);
  left: calc(var(--small-screen-margin) / 2);
  right: calc(var(--small-screen-margin) / 2);
}

.expansion-enter-active {
  animation:
    fadeIn var(--transition-animation-speed) linear,
    expand var(--transition-animation-speed) linear;
}

.expansion-exit-active {
  animation:
    fadeOut  var(--transition-animation-speed) linear,
    collapse var(--transition-animation-speed) linear;
}

/* End CSSTransition component classes */


/* Media Queries */

@media screen and (min-width: 600px) {
  .route {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(100vw - var(--medium-screen-margin));
  }

  .router {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }

  .left-enter-active,
  .right-enter-active,
  .left-exit-active,
  .right-exit-active,
  .expansion-enter-active,
  .expansion-exit-active {
    top: var(--header-height);
    left: calc(var(--medium-screen-margin) / 2);
    right: calc(var(--medium-screen-margin) / 2);
  }
}

/* End Media Queries */
