.search-bar {
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);

  display: flex;
  flex-grow: 1;
}

.search-input {
  flex-grow: 1;
}

.search-input > input {
  width: calc(90% - 15px);
}

.search-input:hover {
  border: none;
}

.search-button {
  padding: 0 5%;
  margin: 15px 0;
  font-size: var(--medium-font-size-internal);
}

.reset-button {
  margin: 15px 10px 15px 0;
}


@media screen and (min-width: 600px) {
  .search-input {
    margin-right: 10px;
  }

  .search-input > input {
    width: auto;
  }
}
