.Beverages {
  
}
<<<<<<< HEAD

.Beverages > .search-container {
  display: flex;
  padding: 0.5rem;
}

.search-by-menu {
=======
<<<<<<< Updated upstream
=======

.Beverages > .search-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.Beverages .search-by-menu {
>>>>>>> wip-feature-beverage-component
  color: var(--background);
  background-color: var(--accent);
  border: 2px solid var(--text-medium);
  border-radius: 10px;
  padding: 0 1%;
  margin-right: 0.5rem;
  white-space: nowrap;
  align-self: center;
  min-height: 48px;
}
<<<<<<< HEAD
=======

.Beverages .search-bar-error {
  min-width: 100%;
}
>>>>>>> Stashed changes
>>>>>>> wip-feature-beverage-component
