.error-container {
  height: calc(100vh - var(--header-height) - var(--footer-height));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-text {
  width: 80%;
  margin-bottom: 10%;
}

.error-button {
  width: 20%;
}
