:root {
  --primary: #ffe657;
  --primary-light: #ffee8a;
  --accent: #7540f7;
  --accent-light: #9066f8;
  --accent-dark: #4607e2;
  --background: #fcf8e0;
  --text-light: #fff;
  --text-dark: #282c34;
}
