:root {
  --primary: #ffe657;
  --primary-light: #ffee8a;
  --accent: #8b3fa9;
  --accent-light: #c993de;
  --accent-dark: #60117f;
  --background: #fcf8e0;
  --text-light: #fff;
  --text-medium: #747b87;
  --text-dark: #282c34;
  --error: #fa1f0f;
}
