:root {
  --header-height: 10vh;
  --header-height-small: 8vh;
  --footer-height: 8vh;

  --small-screen-margin: 5%;
  --medium-screen-margin: 20%;
  --large-screen-margin: 5%;
  
  --divider-width: 3px;
}
