:root {
  --header-height: 10vh;
  --header-height-small: 8vh;
  --footer-height: 8vh;

  --small-screen-margin: 5%;
  --medium-screen-margin: 20%;
  --large-screen-margin: 5%;
  
  --extra-small-font-size: 1.5vw;
  --small-font-size: 2vw;
  --medium-font-size: 3vw;
  --large-font-size: 4vw;
  --extra-large-font-size: 5vw;
}
