@import './colors.css';

body {
  overflow: hidden;
  margin: 0;
}

#root {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: -20px;
  overflow-y: scroll;
}

.route {
  min-height: 75vh;
  flex-grow: 1;
}
