@import 'normalize.css';
@import './animations/animations.css';
@import './borders.css';
@import './colors.css';
@import './grid.css';
@import './sizes.css';

body {
  overflow: hidden;
  margin: 0;
}

#app-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

#app-root::-webkit-scrollbar {
  display: none;
}
