.beverage-query {
  --small-font-size-internal: var(--small-font-size, 1rem);

  width: 100%;
}

.beverage-query
.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2%;
}

.beverage-query
.search-by-menu {
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--gray);
  align-items: center;
  font-size: var(--small-font-size--internal);
}

.beverage-query
.search-by-menu {
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--gray);
  border-radius: 10px;
  padding: 0 1%;
  margin-right: 10px;
  white-space: nowrap;
}

.beverage-query
.beverage-search-bar {
  margin: 0;
}

.beverage-query
.search-bar-error {
  text-align: center;
}
