.beverage-query
.search-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0.5rem;
  margin-top: 1%;
}

.beverage-query
.search-by-menu {
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--gray-medium);
  align-self: center;
  min-height: 48px;
}

.beverage-query
.search-by-menu {
  color: var(--background);
  background-color: var(--primary);
  border: 2px solid var(--gray-medium);
  border-radius: 10px;
  padding: 0 1%;
  margin-right: 0.5rem;
  white-space: nowrap;
  align-self: center;
  min-height: 48px;
}

.beverage-query
.search-bar-error {
  min-width: 100%;
}
