.selections {
  margin: 5% 0;
  padding: 2%;
  border: 2px solid var(--gray-medium);
  border-radius: 15px;
  background-color: white;
}

.selections > h3 {
  color: var(--gray-dark);
  margin: 0;
  text-align: center;
  font-size: 1.75rem;
}

.preview-selection {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-medium);
  margin-bottom: 5px;
}

.missing {
  color: var(--error);
}
