.beverage-list {
  display: flex;
  flex-direction: column;
}

.beverage-list
.click-instructions {
  text-align: center;
  font-size: 1.35rem;
  color: var(--text-dark);
}

.transparent-background {
  background: transparent;
}


@media screen and (min-width: 900px) {
  .beverage-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
