.menu {
  --header-height-internal: var(--header-height, 10vh);
  --header-height-small-internal: var(--header-height-small, 8vh);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: var(--header-height-small-internal);
  left: 0;
  width: 100%;
  background-color: var(--gray-dark);
  border-top: 3px solid var(--primary-dark);
  border-bottom: 3px solid var(--primary-dark);
  transform: translateX(100%);
  transition: ease-in-out 0.3s;
}

.menu.show {
  transform: translateX(0%);
}

.menu .nav-link {
  width: 100%;
  padding: 10px 0;
}

@media screen and (min-width: 600px) {
  .menu {
    top: var(--header-height-internal);
  }
}
