.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 3%;
}

.form-title {
  text-align: center;
  color: var(--primary);
  font-size: 2rem;
  margin: 2% 0;
}
