.draft-container {
  --border-radius-size-internal: var(--border-radius-size, 15px);
  --inner-border-radius-size-internal: var(--inner-border-radius-size, 10px);
  --divider-width-internal: var(--divider-width, 3px);
  --small-font-size-internal: var(--small-font-size, 1rem);
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);

  width: 100%;
  font-size: var(--medium-font-size);
  background-color: var(--white);
  border-radius: var(--inner-border-radius-size-internal);
}

.draft-container:not(:first-child) {
  margin-top: 2.5%;
}

.draft-container.grid {
  grid-template-rows:
    [row-1] 50%
    [row-2] 100%
    [row-3];
}

.draft-grid-image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--inner-border-radius-size-internal) 0 0 0;
  grid-row: row-1;
  grid-column: col-1 / col-4;
}

.draft-grid-content {
  font-size: var(--medium-font-size-internal);
  grid-row: row-1;
  grid-column: col-4 / col-13;
}

.draft-grid-buttons {
  grid-row: row-2;
  grid-column: col-1 / col-13;
}

.draft-edit-button,
.draft-change-quantity-button,
.draft-finish-button {
  font-size: var(--small-font-size-internal);
}

.draft-edit-button,
.draft-finish-button {
  width: 25%;
}

.draft-edit-button {
  border-radius: 0 0 0 var(--inner-border-radius-size-internal);
}

.draft-change-quantity-button {
  width: calc(50% - calc(var(--divider-width-internal) * 2));
}

.draft-change-quantity-button {
  border-radius: 0;
}

.draft-finish-button {
  border-radius: 0 0 var(--inner-border-radius-size-internal) 0;
}


@media screen and (min-width: 900px) {
  .draft-grid-image {
    aspect-ratio: none;
    height: 100%;
  }

  .draft-grid-content {
    font-size: var(--medium-font-size-internal);
  }
}
