.app-header {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  color: var(--text-light);
  border-bottom: 3px solid var(--primary-light);
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  transition: top 500ms ease-in-out;
  z-index: 10;
}

.app-header.scroll-up {
  top: 0;
}

.app-header.scroll-down {
  top: -100%;
}

.app-header.scroll-up,
.app-header:focus-within {
  top: 0;
}
