.app-header {
  position: sticky;
  top: 0;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: var(--gray-dark);
  transition: top 500ms ease-in-out;
  z-index: 10;
}

.app-header.scroll-up {
  top: 0;
}

.app-header.scroll-down {
  top: -100%;
}

.app-header.scroll-up,
.app-header {
  top: 0;
}

@media screen and (max-width: 600px) {
  .app-header {
    height: 8vh;
    background-color: var(--primary);
  }
}
