.navbar {
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);
  --large-font-size-internal: var(--large-font-size, 2rem);

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: var(--medium-font-size-internal);
  padding: 0 10px;
}

.nav-link.home-link {
  font-size: var(--large-font-size-internal);
  border-bottom: none !important;
}

.other-links a.active,
.other-links a.active:visited {
  color: var(--primary-light);
  border-bottom: 5px solid var(--primary-light);
}

.other-links a.active:hover {
  color: var(--text-dark);
  border-color: var(--primary);
}

.navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a,
.navbar a:visited,
.navbar a:active {
  text-decoration: none;
  color: var(--text-light);
  border-bottom: 5px solid var(--gray-dark);
}

.navbar a:hover {
  color: var(--text-dark);
  background-color: var(--primary-light);
  border-bottom: 5px solid var(--primary-light);
}

.navbar .other-links {
  display: flex;
  height: 100%;
}


@media screen and (min-width: 600px) {
  .navbar a {
    padding: 0 5px;
  }
}
