.device {
  --large-image-size: 20vw;
  --medium-image-size: 15vw;
  --small-image-size: 10vw;
  --outer-border-size: 2px;
  --border-radius-size-internal: var(--border-radius-size, 15px);

  display: flex;
  margin: 2.5% 0;
  border-radius: var(--border-radius-size-internal);
  background-color: var(--light);
}

.device-image {
  width: var(--large-image-size);
  aspect-ratio: 1;
  border-radius: var(--border-radius-size-internal) 0 0 var(--border-radius-size-internal);
  border: var(--outer-border-size) solid var(--primary-light);
  border-right: none;
}

.device-identifier {
  --padding-size: 1%;

  padding: var(--padding-size);
  flex-grow: 1;
  font-size: var(--large-font-size);
  border-top: var(--outer-border-size) solid var(--primary-light);
  border-bottom: var(--outer-border-size) solid var(--primary-light);
}

.device-buttons {
  width: 25%;
}

.device-edit-button,
.draft-count-button {
  height: 50%;
  font-size: var(--medium-font-size);
}

.device-edit-button {
  border-radius: 0 var(--border-radius-size-internal) 0 0;
}

.draft-count-button {
  border-radius: 0 0 var(--border-radius-size-internal) 0;
}


@media screen and (min-width: 900px) {
  .device {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .device-image {
    border-bottom: none;
    border-bottom-left-radius: 0;
  }

  .device-identifier {
    border-bottom: none;
    border-right: var(--outer-border-size) solid var(--primary-light);
    border-radius: 0 var(--border-radius-size) 0 0;
  }

  .device-buttons {
    width: 100%;
  }

  .device-edit-button {
    border-radius: 0 0 0 var(--border-radius-size);
  }

  .device-edit-button,
  .draft-count-button {
    width: 50%;
  }
}

@media screen and (min-width: 900px) and (max-width: 1799px) {
  .device {
    width: 45%;
  }

  .device-image {
    width: var(--medium-image-size);
  }

  .device-identifier {
    width: calc(calc(100% - var(--medium-image-size) - calc(var(--padding-size) * 2)) - calc(var(--outer-border-size) * 2));
    font-size: var(--medium-font-size);
  }

  .device-edit-button,
  .draft-count-button {
    font-size: var(--small-font-size);
  }
}

@media screen and (min-width: 1800px) {
  .device {
    width: 30%;
  }

  .device-image {
    width: var(--small-image-size);
  }

  .device-identifier {
    width: calc(calc(100% - var(--small-image-size) - calc(var(--padding-size) * 2)) - calc(var(--outer-border-size) * 2));
    font-size: var(--small-font-size);
  }

  .device-edit-button,
  .draft-count-button {
    font-size: var(--extra-small-font-size);
  }
}
