.device {
  --large-image-size: 20vw;
  --small-image-size: 10vw;
  --outer-border-width: 2px;
  --border-radius-size-internal: var(--border-radius-size, 15px);
  --small-font-size-internal: var(--small-font-size, 1rem);
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);
  --large-font-size-internal: var(--large-font-size, 2rem);

  display: flex;
  margin: 2% 0;
  border-radius: var(--border-radius-size-internal);
  background-color: var(--white);
}

.device-image {
  width: var(--large-image-size);
  aspect-ratio: 1;
  border-radius: var(--border-radius-size-internal) 0 0 var(--border-radius-size-internal);
  border: var(--outer-border-width) solid var(--primary-light);
  border-right: none;
}

.device-identifier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  font-size: var(--medium-font-size-internal);
  border-top: var(--outer-border-width) solid var(--primary-light);
  border-bottom: var(--outer-border-width) solid var(--primary-light);
}

.device-buttons {
  width: 25%;
}

.device-edit-button,
.draft-count-button {
  height: 50%;
  font-size: var(--small-font-size-internal);
}

.device-edit-button {
  border-radius: 0 var(--border-radius-size-internal) 0 0;
}

.draft-count-button {
  border-radius: 0 0 var(--border-radius-size-internal) 0;
}


@media screen and (min-width: 900px) {
  .device {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 0;
  }

  .device-image {
    border-bottom: none;
    border-bottom-left-radius: 0;
    width: var(--small-image-size);
  }

  .device-identifier {
    border-bottom: none;
    border-right: var(--outer-border-width) solid var(--primary-light);
    border-radius: 0 var(--border-radius-size) 0 0;
  }

  .device-buttons {
    width: 100%;
  }
  
  .device-edit-button,
  .draft-count-button {
    width: 50%;
  }

  .device-edit-button {
    border-radius: 0 0 0 var(--border-radius-size);
  }
}

@media screen and (min-width: 900px) and (max-width: 1799px) {
  .device {
    width: 45%;
  }
}

@media screen and (min-width: 1200px) {
  .device-identifier {
    font-size: var(--large-font-size-internal);
  }
}

@media screen and (min-width: 1800px) {
  .device {
    width: 30%;
  }
}
