.beverage-summary {
  width: 67%;
  background-color: var(--gray-light);
  border-radius: 50px 15px 15px 0;
  border: 5px solid var(--secondary);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.beverage-summary
.number-values {
  display: flex;
  justify-content: space-around;
  font-size: var(--small-screen-font-size);
}

.beverage-summary
.number-values
.value {
  font-weight: bold;
}

.beverage-summary
p {
  min-height: 2vh;
  flex-grow: 1;
  padding: 0 5%;
  font-size: 1rem;
}

.beverage-button-container {
  display: flex;
  justify-content: space-between;
}

.beverage-archive-button {
  border-radius: 0;
  flex-grow: 1;
}

.beverage-edit-button {
  border-radius: 0 0 10px 0;
  flex-grow: 1;
  font-size: var(--small-screen-font-size);
}


@media screen and (min-width: 600px) {
  .beverage-summary
  .number-values {
    display: flex;
    justify-content: space-around;
    font-size: var(--medium-screen-font-size);
  }

  .beverage-archive-button,
  .beverage-edit-button {
    font-size: var(--medium-screen-font-size);
  }
}
