.beverage-summary {
  --extra-small-font-size-internal: var(--extra-small-font-size, 0.75rem);
  --small-font-size-internal: var(--small-font-size, 1rem);
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);

  width: 67%;
  background-color: var(--gray-light);
  border-radius: 50px 15px 15px 0;
  border: 5px solid var(--secondary);
  color: var(--dark);
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.beverage-summary
.number-values {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: calc(var(--small-font-size-internal) * 1.2);
}

.beverage-summary
.number-values
.value {
  font-weight: bold;
}

.beverage-summary
p {
  min-height: 2vh;
  flex-grow: 1;
  padding: 0 5%;
  font-size: var(--small-font-size-internal);
}

.beverage-archive-button,
.beverage-edit-button {
  flex-grow: 1;
  width: 50%;
  font-size: var(--small-font-size-internal);
}

.beverage-archive-button {
  border-radius: 0;
}

.beverage-edit-button {
  border-radius: 0 0 10px 0;
}


@media screen and (min-width: 900px) and (max-width: 1799px) {
  .beverage-summary
  .number-values span {
    margin: 0 5px;
  }
}
