.app-divider {
  --divider-width-internal: var(--divider-width, 3px);
}

.app-divider.horizontal {
  width: 100%;
  height: var(--divider-width-internal);
}

.app-divider.vertical {
  height: 100%;
  width: var(--divider-width-internal);
}
