.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-quantity {
  text-align: center;
  font-size: 1.75rem;
  font-weight: normal;
}

.current-quantity > span {
  font-weight: bold;
}

.new-quantity-input {
  margin-bottom: 2%;
}

.quantity-buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.quantity-button {
  min-width: 40%;
}
