.form-textarea-container {
  --border-radius-size-internal: var(--border-radius-size, 15px);
  --inner-border-radius-size-internal: var(--inner-border-radius-size, 10px);
  
  --extra-small-font-size-internal: var(--extra-small-font-size, 0.75rem);
  --small-font-size-internal: var(--small-font-size, 1rem);
  --medium-font-size-internal: var(--medium-font-size, 0.75rem);
  
  --primary-light-internal: var(--primary-light, white);
  
  --top-offset: 15px;
  --placeholder-animation-speed: 300ms;

  display: flex;
  flex-direction: column;
  position: relative;
}

.form-textarea {
  margin: var(--top-offset) 0;
}

.placeholder-default {
  position: absolute;
  top: var(--top-offset);
  left: 10px;
  opacity: 0.7;
  font-size: var(--small-font-size-internal);
  line-height: calc(48px - 1.5rem);
  transition: all var(--placeholder-animation-speed);
}

.placeholder-aside {
  position: absolute;
  top: -20px;
  left: 0;
  opacity: 1;
  font-size: var(--extra-small-font-size-internal);
  transition: all var(--placeholder-animation-speed);
}

textarea {
  padding: 0.75rem;
  margin: 15px 0;
  border: 2px solid var(--gray);
  border-radius: var(--inner-border-radius-size-internal);
  box-shadow: 0 3px 5px var(--primary-light-internal);
  background-image: none;
  font-size: var(--small-font-size-internal);
  min-height: calc(48px - 1.5rem);
}

textarea:focus-visible {
  outline: none;
  border: 2px solid var(--primary-light-internal);
}
