.locale {
  --small-font-size-internal: var(--small-font-size, 1rem);
  --medium-font-size-internal: var(--medium-font-size, 1.5rem);

  min-height: 3vw;
  font-size: var(--small-font-size-internal);
}


@media screen and (min-width: 1200px) {
  .locale {
    font-size: var(--medium-font-size);
  }
}
